<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindAllProductServlet</display-name>
    <servlet-name>FindAllProductServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.FindAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllProductServlet</servlet-name>
    <url-pattern>/FindAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductUIServlet</display-name>
    <servlet-name>AddProductUIServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.AddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductUIServlet</servlet-name>
    <url-pattern>/AddProductUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUIServlet</display-name>
    <servlet-name>ModifyUIServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.ModifyUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUIServlet</servlet-name>
    <url-pattern>/ModifyUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductByIdServlet</display-name>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.DeleteProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <url-pattern>/DeleteProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductBySelectedIdServlet</display-name>
    <servlet-name>DeleteProductBySelectedIdServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.DeleteProductBySelectedIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductBySelectedIdServlet</servlet-name>
    <url-pattern>/DeleteProductBySelectedIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.pc.project.crud.web.servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
</web-app>